.aboutMain{
    font-family: Monospace;
    width: 100%;
    height: auto;
    padding-top: 40px;
    background: #076768;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #002a22, #076768);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #002a22, #076768); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-bottom: 20px;
}
.about_card_section{

    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aboutCard{

    margin-top: 20px;
    height: 320px;
    width: 370px;
    padding: 10px;
    /* background: #485563;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right,  #537895, #09203F);
    background: linear-gradient(to right,  #537895, #09203F);  */
    box-shadow: 0 10px 0 #0d8e8b;
    border-radius: 8px;
    transition: all 0.3s ease;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0e2825, #16222A); 
    background: linear-gradient(to right, #0e2825, #16222A);
     
    color: #fff;
}
.aboutCard:hover{
    box-shadow: 0 5px 0 #0d8e8b;
    transform: translateY(5px);
}
.about-log{
    padding-top: 150px !important;
}
@media (min-width: 280px) and (max-width: 480px) {
    .aboutMain{
       padding-bottom: 150px;
    }
    .aboutCard{
        height: auto;
    }
.about-log{
    padding-top: 150px !important;
}
}
