.modalHeader{
    font-family: Monospace;
    /* border: #485563;
    background: #16222A;
    background: -webkit-linear-gradient(to right, #0e2825, #16222A); 
    background: linear-gradient(to right, #0e2825, #16222A); */
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    border-left: 3px solid red;

}
.youtube-table{
    display: flex;
    justify-content: center;
}
.modal-popup{
    border-top: 3px solid red;
    border-right: 3px solid red;
    border-left: 3px solid red;
}
.linkBorderMain{
    width: 100%;
    display: flex;
    justify-content: center;
}
.linkBorder{
    border: 3px solid red;
    width: 60%;
    /* align-items: center; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}
.linkBorder p {
    
    font-size: 18px !important;
}
.linkBorder-youtube{
    border: 3px solid red;
    width: 100%; 
    font-size: 18px !important;
}
.change-font{
    font-family: Monospace;
}
@media (min-width: 280px) and (max-width: 480px) {
    .linkBorderMain{
        width: auto;

    }
    .linkBorder{
        width: auto;
        font-size: 18px !important;
    } 
    .linkBorder-youtube{
        width: auto;
        font-size: 13px !important;
    }
}
